.badge--primary {
  background-color: #169C43;
  color: white;
  border-radius:5px;
  border: 1px;
  font-size: 15px;
  padding: 2px 12px 2px 12px;
}

.badge--secondary {
  background-color: white;
  color: #169C43;
  border-radius:5px;
  border: 1px;
  font-size: 15px;
  padding: 2px 12px 2px 12px;
  border: 1px solid;
}