.button--primary--regular {
  background-color: #3364e0;
  color: white;
  border-radius:5px;
  border: 1px;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  &:hover {
    background-color: #0077B8;
  }
  &:focus {
    background-color: #7098FF;
  }
}

.button--secondary--regular {
  color: #3364e0;
  font-size: 15px;
  border-color: #3364e0;
  border-radius: 5px;
  padding: 10px 24px 10px 24px;
  border: 1px solid;
  &:hover {
    color: #0077B8;
  }
}

.button--tertiary--regular {
  color: #3364e0;
  font-size: 15px;
  border: none;
  padding: 10px 24px 10px 24px;
  &:hover {
    color: #0077B8;
  }
  &:focus {
    border-color: #8AD2F9;
    border-radius: 5px;
    border: 1px solid;
  }
}

.button--primary--disable--regular {
  background-color: #D9D9D9;
  color: #8C8C8C;
  border-radius:5px;
  padding: 10px 24px 10px 24px;
  border: 1px;
  font-size: 15px;
  &:focus {
    background-color: #8C8C8C;
  }
}

.button--secondary--disable--regular {
  color: #8C8C8C;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  border-color: #8C8C8C;
  border-radius: 5px;
  border: 1px solid;
}

.button--tertiary--disable--regular {
  color: #8C8C8C;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  border: none;
}

.button--primary--small {
  background-color: #3364e0;
  color: white;
  border-radius:5px;
  border: 1px;
  font-size: 15px;
  height: 32px;
  &:hover {
    background-color: #0077B8;
  }
  &:focus {
    background-color: #7098FF;
  }
}

.button--secondary--small {
  color: #3364e0;
  font-size: 15px;
  border-color: #3364e0;
  border-radius: 5px;
  border: 1px solid;
  height: 32px;
  &:hover {
    color: #0077B8;
  }
}

.button--tertiary--small {
  color: #3364e0;
  font-size: 15px;
  border: none;
  height: 32px;
  &:hover {
    color: #0077B8;
  }
  &:focus {
    border-color: #8AD2F9;
    border-radius: 5px;
    border: 1px solid;
  }
}

.button--primary--disable--small {
  background-color: #D9D9D9;
  color: #8C8C8C;
  border-radius:5px;
  border: 1px;
  font-size: 15px;
  height: 32px;
  &:focus {
    background-color: #8C8C8C;
  }
}

.button--secondary--disable--small {
  color: #8C8C8C;
  font-size: 15px;
  border-color: #8C8C8C;
  border-radius: 5px;
  border: 1px solid;
  height: 32px;
}

.button--tertiary--disable--small {
  color: #8C8C8C;
  font-size: 15px;
  border: none;
  height: 32px;
}
